{% extends 'base.html.twig' %}
{% block title %}Créer un compte
{% endblock %}
{% block body %}
	{{ form_start(user_form, {'attr':{'class':'container'}}) }}
	{{ form_row(user_form.username) }}
	{{ form_widget(user_form.password)}}
	{{ form_errors(user_form.password) }}
	{{ form_rest(user_form) }}
	<input class="btn btn-success" type="submit" value="Créer le compte">
	<a href="/login" class="btn btn-link">Se connecter</a>
{% endblock %}
